<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class=container>
    <h1 class="jumbotron">The Biggest Loser!</h1>
  </div>
    <div class="container" ng-controller="myController">
      <div class="page-header">
        <h1>Contestants {{test}}!</h1>
      </div>
      <div class="alert alert-info">
        <p>Sort Type: {{sortType}}</p>
        <p>Sort Reverse: {{sortReverse}}</p>
        <p>Search Query: {{searchContestant}}</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                    </span>
                  </button>
                  <input type="text" class="form-control" placeholder="Search contestants" ng-model="searchContestant">
            </div>
          </form>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>
                  <a href="" ng-click="sortType='name'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'name' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'name' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>
                  <a href="" ng-click="sortType='height'; sortReverse = !sortReverse">
                  Height
                  <span ng-show="sortType == 'height' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'height' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>
                  <a href="" ng-click="sortType = 'weight'; sortReverse = !sortReverse">
                  Weight
                  <span ng-show="sortType == 'weight' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'weight' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>
                  <a href="" ng-click="sortType='begfatPercentage'; sortReverse = !sortReverse">
                  Begining Percentage Body Fat
                  <span ng-show="sortType == 'begfatPercentage' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'begfatPercentage' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>
                  <a href="" ng-click="sortType= 'endfatPercentage'; sortReverse = !sortReverse">
                  Ending Percentage Body Fat
                  <span ng-show="sortType == 'endfatPercentage' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'endfatPercentage' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>
                  <a href="" ng-click="sortType= 'percentageLoss'; sortReverse = !sortReverse">
                  Percentage Body Fat loss!
                  <span ng-show="sortType == 'percentageLoss' && !sortReverse" class="caret"></span>
                  <span ng-show="sortType == 'percentageLoss' && sortReverse" class="dropup"><span class="caret"></span></span>
                </th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <!-- Thinking of testing disabled also -->
              <tr ng-repeat="contestant in contestants | orderBy: sortType :sortReverse | filter: searchContestant">
                <div>
                  <td>{{$index+1}}</td>
                  <td>
                    <div ng-hide="contestant.editData">{{contestant.name}}</div>
                    <div ng-show="contestant.editData">
                      <input type="text" name = "name" ng-model="contestant.name" placeholder={{contestant.name}}>
                    </div>
                  </td>
                  <td>
                    <div ng-hide="contestant.editData">{{contestant.height}}</div>
                    <div ng-show="contestant.editData">
                      <input type="text" name = "name" ng-model="contestant.height" placeholder={{contestant.height}}>
                    </div>
                  </td>
                  <td>
                    <div ng-hide="contestant.editData">{{contestant.weight}}</div>
                    <div ng-show="contestant.editData">
                      <input type="text" name = "name" ng-model="contestant.weight" placeholder={{contestant.weight}}>
                    </div>
                  </td>
                  <td>
                    <div ng-hide="contestant.editData">{{contestant.begfatPercentage}}</div>
                    <div ng-show="contestant.editData">
                      <input type="text" name = "name" ng-model="contestant.begBodyFat" placeholder={{contestant.begfatPercentage}}>
                    </div>
                  </td>
                  <td>
                    <div ng-hide="contestant.editData">{{contestant.endfatPercentage}}</div>
                    <div ng-show="contestant.editData">
                      <input type="text" name = "name" ng-model="contestant.endBodyFat" placeholder={{contestant.endfatPercentage}}>
                    </div>
                  </td>
                  <td>
                    <div>{{contestant.percentageLoss}}</div>
                  </td>
                  <td>
                    <div ng-hide="contestant.editData">
                      <input class="btn-primary" type="submit" ng-click="editContestant(contestant)" value="edit">
                      <input class="btn-danger" type="submit" ng-click="deleteContestant($index,contestant)" value="delete">
                    </div>
                    <div ng-show="contestant.editData">
                      <input class="btn-primary" type="submit" ng-click="saveEdit($index,contestant)" value="save">
                      <input class="btn-primary" type="submit" ng-click="cancelEdit($index,contestant)" value="cancel">
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
              <form ng-submit="addContestant()">
                <td></td>
                <td><input type="text" name="name" ng-model="name" placeholder="Name"></td>
                <td><input type="text" name="height" ng-model="height" placeholder="Height"></td>
                <td><input type="number" name="weight" ng-model="weight" placeholder="Weight"></td>
                <td><input type="number" name="begBodyFat" ng-model="begBodyFat"></td>
                <td><input type="number" name="endBodyFat" ng-model="endBodyFat"></td>
                <td>TBD</td>
                <td><input class="btn-primary" type="submit" value="add"></td>
              </form>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

  <script src='js/app.js'></script>
  <script src='js/controller.js'></script>
  <script src='js/directive.js'></script>
  <script src='js/service.js'></script>
</html>
